/* ==========================================================================
   コメント入力フォーム画面
   ========================================================================== */

.new_comment_form{
    margin-left: 25%;
    height: 600px;
    max-width: 600px;
    overflow-y: auto;
    
    .post-image{
        background:#fff;
        max-width: 600px;
        max-height: 400px; 
        text-align: center;
        
        img{
         max-width: 100%;
        }
    }
    
    /**コメント入力フォーム
      ************************************/
    .post-content{
       .title{
          margin-bottom: 50px;
       }
      .content{
          font-size: 20px;
      }   
    }
    
    .button-menu{
        text-align: right;
    }
    
    .comment-form{
      margin-top: 5%;
      width: 100%;
      
      textarea#comment_content{
          height: 150px;
          width: 100%;
          border-radius: 10px;
          border: 2px solid #5ebaba;
      }
      
      .actions{
          padding-left: 38%;
          
          input[type=submit]{
              background:#fff;
              border-radius: 10px;
              border: 2px solid #5ebaba;
              padding: 10px;
              
              font-size: 20px;
          }
      }
    }
}