<div class="container">
    <div class="row">
        <h2 id="top-page">〜こうしたら良いのに〜 議論サイト</h2>
        <div class="col-md-10 new-user-form">
            <h3>Sign Up</h3>
            <%= render "form", user: @user %>
            <p>ログインページは<%= link_to "こちら", root_path %></p>
        </div>
    </div>
</div>
