@import "../common/post-box-style.scss";

.user-favorite-list{
    border-radius:10px;

    .post-box{
        @include postBoxLayoutMixin;

        .post-image{
            img{
                position: absolute;
                width: 100%;
            }
        }
        
        h4{
            text-align:center;
        }
        
        .btn-menu{
            margin-left:80%;
        }
    }
}