/* ==========================================================================
   Login画面
   ========================================================================== */

/**Login/Signup画面共通レイアウトをインポート
  ****************************************************/
@import "../common/top-page-form.scss";

.login-form{
    /**入力フォームのレイアウトの共通部分をinclude
    *************************************************/
    @include topPageFormMixin;
    
    left: 22%;
    padding-left: 12%;
    
    width: 800px;
    
    h3{
        padding-right: 28%;
    }
    
    /**ログイン失敗時のエラーメッセージ
      ************************************/
    .error_message{
        margin-right: 8%;
        
        text-align: center;
        color: #c00;
        font-weight: bold;
    }
    
    form{
        /**submitボタンの位置を中央に修正
         ************************************/
        .action{
           margin: 60px;    
        }
    }
    
    /**SignUp画面へのリンクボタンの位置を画面右下に修正
     ******************************************************/
    .logon-action{
        text-align: right;
        margin: 60px;
        a{
            color: blue;
        }
    }
}