<div class="container">
  <div class="row">
    <div class="col-md-8 post-form-block">
       <%= render 'form', post: @post %>
       
       <%= link_to 'Show', @post %> |
       <%= link_to 'Back', posts_path %>
     </div>
  </div>
</div>