<div class="container">
  <div class="row">
    <div class="col-md-9 post-list">
      <% @posts.each do |post| %>
        <%= link_to post do %>
          <div class="post-box">
            <div class="post-image">
              <%= image_tag post.image %>
            </div>
            <div class="post-content">
                <h4><%= post.title %></h4>
                <div class="post-text">
                  <%= post.content %>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>