<div class="container">
  <div class="row">
    <div class="col-md-8 post-form-block">
       <h3>あなたの "こうしたら良いのに" を投稿してみましょう。:)</h3>
       <%= render 'form', post: @post %>
     </div>
  </div>
</div>