.header{
    margin:0;
    height:50px;
    border-bottom: 1px solid #eee;
    text-align:center;
    background-color: #fff;
}

body{
    background-color: #f9f9f9;
}

.footer{
    position:fixed;
    bottom:0;
    height:55px;
    width:100%;
    padding-top:5px;
    padding-left:37%;
    
    background:#fff;
    border-top:1px solid #eee;
    
    img{
        width:45px;
        border-radius:50%;
        border: 2px solid #eee;
        margin:0 30px;
    }
}