.header{
    margin:0;
    height:50px;
    border-bottom: 1px solid #eee;
    background-color: #5ebaba;
    text-align:center;
    padding-top:15px;
    
    a{
      color:#fff;
    }
}

body{
    background-color: #f9f9f9;
}

.footer{
    position:fixed;
    bottom:0;
    height:55px;
    width:100%;
    padding-top:5px;
    padding-left:39%;
    
    background:#5ebaba;
    border-top:1px solid #eee;
    
    img{
        width:45px;
        border-radius:50%;
        border: 1px solid #eee;
        background-color: #f9f9f9;
        margin:0 30px;
    }
}