.header{
    margin:0;
    height:50px;
    border-bottom: 1px solid #eee;
    text-align:center;
    background-color: #fff;
}

body{
    background-color: #f9f9f9;
}

.footer{
    position:fixed;
    bottom:0;
    height:50px;
    width:100%;
    
    background:#fff;
    border-top:1px solid #eee;
}