.post-content-detail{
    padding-left:20%;
    height:750px;
    overflow-y:auto;
    
    .image{
        margin-left:30%;
    }
    
    .title{
        margin-bottom:50px;
    }
    .content{
        font-size:20px;
    }
    
    .button-menu{
        padding-top:10%;
        padding-left:80%;
    }
}