.post-content-detail{
    margin-left:22%;
    height:600px;
    max-width:700px;
    overflow-y:auto;
    
    .image{
        background:#fff;
        max-width:600px;
        max-height:400px; 
        img{
         width:100%;
        }
    }
    
    .text-content{
       .title{
          margin-bottom:50px;
       }
      .content{
          font-size:20px;
      }   
    }
    
    .button-menu{
        padding-top:10%;
        padding-left:80%;
    }
}