/* ==========================================================================
   ログインユーザーのマイページ画面
   ========================================================================== */

   
/**Post一覧の共通レイアウトをインポート
    ****************************************************/
@import "../common/post-box-style.scss";


.user-profile{
    height:650px;
    overflow-y:auto;
    
    /**ユーザーのプロフィール部分
    ************************************/
    .mypage-menu{
        position:relative;
        margin:5% 0;
        
        text-align:center;
        
        .user-image{
           img{
               width:70px;
               border-radius:50%;
               border:1px solid #eee;
           }
        }
    }
    
    /**切り替えボタンタブ
    ************************************/
    .tab {
        list-style:none;
        overflow:hidden;
        padding-left: 42%;
        border-top: 1px solid #efefef;
        
        li {
           padding:5px 25px;
           float:left;
           margin-right:1px;
           
           color: #999;
        }
        
        li:hover{
            cursor:pointer;
        }
        
        .select{
            color: #262626;
            border-top: 1px solid #262626;
        }
        
        .select:hover{
            cursor:default;
        }
    }
    
    /**投稿一覧/お気に入り一覧 表示の切り替え
    **********************************************/
    .content {
        list-style:none;
        margin: 0;
        padding-left:0;
        
        .hide {
          display:none;
        }
    }
    
    .user-post-list{
        border-radius:10px;
        h4{
            text-align:center;
        }
        
        /**Post１件毎のレイアウト定義
    　　　************************************/
        .post-box{
            @include postBoxLayoutMixin;
    
            .post-image{
                img{
                    position: absolute;
                    width: 100%;
                }
            }
            
            .btn-menu{
                margin-left:75%;
            }
        }

    }
    
}
